body{
    text-align: center;
    background-color: black;
    color : white;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin :20px;

}
#title{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    background-color: grey;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    font-style: italic;

}
#img{
    width: 35% ;
    height: 45%;
    padding-top: 20px;
    padding-bottom: 30px;
    background-size: contain;
    display: block;
    margin :0 auto;
     
}
#img-caption{
    font-size: 15px;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 20px;
}
#tribute-info{
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#tribute-link{
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

